/*
 * GENERAL
 */

body {
    background-color: #B5E2BB;
    background-image: url("../img/diagonal.png");
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    font-size: 1.2vw;
    color: #0C5215;
}

.header {
    text-align: center;
    margin: 0 0 -1vh -2vw;
    padding: 0;
    font-size: 10em;
    font-weight: bolder;
    color: #FFFFFF;
}

a {
    color: #0C5215;
    text-decoration: none;
}

a:hover {
    color: white;
}

.top-buffer {
    margin-top: 2vh;
}

.hidden {
    display: none;
}


/*
 * NAVIGATION BAR
 */

#nav-header {
    height: 10vh;
    width: 100%;

    font-size: 1.2em;
    background: rgba(255,255,255,.9);
    margin: 0;

    -moz-box-shadow: 1px 1px 10px 1px grey;
    -webkit-box-shadow: 1px 1px 10px 1px grey;
    box-shadow: 1px 1px 10px 2px grey;
}

.nav-item {
    width: 10vw;
    height: 10vh;
    padding: 0 2vw;
    text-align: center;
    float: right;
    display: inline-block;
    cursor: pointer;
    border-left: 1px solid #dedede;
}

.nav-item p {
    margin: 0.2vh 0 0 0;
}

.nav-item:hover {
    background: rgba(0,0,0,0.1);
}

.logo {
    width: 10vh;
    height: auto;
    padding: 0 2vw;
}

/*
 * PAGE STYLES
 */

/* general page styling */

.wrapper {
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
}

.left-panel {
    float: left;
    width: 50%;
    padding: 1em;
}


.right-panel {
    float: right;
    width: 40%;
}

.box-shadow-full {
    -moz-box-shadow: 1px 3px 10px 1px grey;
    -webkit-box-shadow: 1px 3px 10px 1px grey;
    box-shadow: 1px 3px 10px 2px grey;

    border-radius: 5px;
}

.clear-bg {
    background: rgba(0,0,0,0.07);
    border-radius: 5px;
}


/* lookup page styling */

#lookup-header {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 2vh 0;
}

#lookup-form {
    text-align: center;
}

.input-text {
    height: 7vh;
    width: 70%;
    margin-left: .1vw;
    font-size: 2em;
    padding: 0 .3em;
}


/* resources page styling */

#resources-content {
    font-size: 1.5em;
    margin-top: 10vh;
}

#resources-list {
    font-size: 1em;
}

#resources-list li {
    margin: 2vh 0;
}

.browser-ext {
    font-size: 2em;
    float: left;
    width: 45%;
    text-align: center;
    border: 1px solid #788E77;
    border-radius: 2px;
    padding: 2px;
    margin: 0 10px;
}

.browser-ext:hover {
    background: rgba(0,0,0,0.1);
}


/* about page styling */

#about-content {
    width: 100%;
    text-align: center;
}

#mfa-diagram {
    width: 87vw;
    display: inline-block;
    margin-top: 20px;
}

#mfa-explanation {
    padding:10px;
    width: 87%;
    display: inline-block;
    text-align: left;
}


/*
 * SITE REQUESTS PAGE, and table of site requests
 */

#site-request-page {
    text-align: center;
    margin: 2% auto;
}

#site-requests {
    margin: 5% 0;
    width: 100%;
    border-collapse: collapse;
}

#site-requests td, #site-requests th {
    font-size: .8em;
    border: 1px solid #66A366;
    padding: 7px;

    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#site-requests th {
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    background-color: #0C5215;
    color: #fff;
}

tr:nth-child(odd) {background: #D1EDD4}

.status {
    width: 10%;
}

.site {
    width: 25%;
    text-align: left;
}

.date {
    width: 10%;
}

.notes {
    width: 45%;
    text-align: left;
}

.num-requests {
    width: 10%;
}


/*
 * buttons
 */

#btn-container {
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    vertical-align: middle;
    width: 50%;

    outline: none;

    padding: .8em;

    cursor: pointer;

    border: 1px solid;
    border-color: #788E77;
    border-radius: 2px;
    color: #ffffff;
}

.btn-green {
    background-color: #66A366;
}

.btn-green:hover {
    background-color: #B5E2BB;
}

.btn-red {
    background-color: #B14345;
}

.btn-red:hover {
    background-color: #D36A66;
}

.btn-blue {
    background-color: #789EC1;
}

.btn-blue:hover {
    background-color: #91B8D8;
}

.wide {
    width: 65%;
}

.small {
    width: 8%;
}

.btn:hover {
    color: #333333;
}


/*
 * icons
 */

i {
    margin-right: 5px;
}

.fa {
    vertical-align: middle;
}

.fa-chrome {
    margin-top: -10px;
}

.fa-firefox {
    margin-top: -10px;
}

.nav-icon {
    margin: 2vh 0 0 0;
}
